# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/components/info/info.css
src/components/info/info.tsx
src/components/info/infos/infos.tsx
src/components/info/news/news.tsx
src/components/info/varia/varia.tsx
src/components/info/weektext/weektext.tsx
